body{
    margin:0; padding:0;
}
.wrap{
    z-index:0;
    position:fixed;
    left:50%; 
    width:80%;
    transform:translateX(-50%);
    padding-top:60px;
}
.shop{
    margin:40px;
    padding:40px;
    border-radius: 20px;
    background: #ddd;
    cursor: pointer;
}
.add{
    text-align:center;
    cursor: pointer;
    padding:50px;
    font-size:18px;
    border:4px dashed #ddd;
    border-radius: 20px;
    color:#aaa;
}
.name{
    font-size:18px;
    font-weight: bold;
}
.address{
    float:right;
}